<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="log" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy}${date:format=MM}/${shortdate}.txt"/>
    <target  name="mail" xsi:type="mail" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" addnewlines="true"
            subject="[kim task-error] ${longdate}"
            to="kimxinfo@gmail.com"
            from="kimxinfo@gmail.com"
            smtpAuthentication="Basic"
            smtpport="587"
            smtpUserName="kimxinfo@gmail.com"
            smtppassword=""
            smtpserver="smtp.gmail.com"
            enableSsl="true"
            body="[log time]: ${longdate}${newline}[log level]: ${level:uppercase=true}${newline}[log by]: ${logger}${newline}[log message]: ${message}"
              />
  </targets>
  <rules>
    <!--name=log 為 LogManager.GetLogger("log") 取規則用,也可以設定*為預設抓取  Log Level: Trace, Debug, Info, Warn, Error, Fatal-->
    <logger name="*" minlevel="Trace" writeTo="log" />
    <logger name="*" minlevel="Error" writeTo="mail" />
  </rules>
</nlog>

